body {
    margin: 0;
    background-color: #525659;
    font-family: Segoe UI, Tahoma, sans-serif;
  }
  
  .Pusinex input,
  .Pusinex button {
    font: inherit;
  }
  
  .Pusinex header {
    background-color: #323639;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
  }
  
  .Pusinex header h1 {
    font-size: inherit;
    margin: 0;
  }
  
  .Pusinex__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
  }
  
  .Pusinex__container__load {
    margin-top: 1em;
    color: white;
  }
  
  .Pusinex__container__document {
    margin: 1em 0;
  }
  
  .Pusinex__container__document .react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Pusinex__container__document .react-pdf__Page {
    max-width: calc(100% - 2em);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin: 1em;
  }
  
  .Pusinex__container__document .react-pdf__Page canvas {
    max-width: 100%;
    height: auto !important;
  }
  
  .Pusinex__container__document .react-pdf__message {
    padding: 20px;
    color: white;
  }